@page
@model Cinematix3000.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Films";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Nieuwe toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Cast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Runtime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cast)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Runtime)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Aanpassen</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
